/.idea/
/.gradle/
**/build/
*.class
*.log
/run/
/neoforbric-installer.jar
/config/
/logs/
/bivrik/
/.mixin.out/
/fabric.mod.json
/META-INF/MANIFEST.MF
__pycache__/
*.pyc
*.iml
hs_err_pid*.log
replay_pid*.log
*.hprof